* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
     background-color: var(--color-hueso);
}

:root {
    --color-oscuro: #22333b;
    --color-azul: #1b263b;
    --color-morado-claro: #415a77;
    --color-morado-suave: #778da9;
    --color-hueso: #e0e1dd;
    --color-textos-2: #fff;
}

/* -------------------------------------------------- */

header {
    background-color: var(--color-oscuro);
    padding: 0.5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    color: var(--color-textos-2);
    font-size: 0.6rem;
    text-align: center;
    width: 38rem;
}

.nav-right {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32rem;
    gap: 11rem;
    margin-right: 7rem;
}

.nav-right a {
    color: var(--color-textos-2);
    text-decoration: none;
}

.nav-right a:hover {
    background-color: #e4ded7bb;
    color: #000;
    padding: 5px 4px 5px 4px;
    transition: 0.2s;
    border-radius: 3px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .nav-left, .nav-right {
        width: 100%;
    }
}

/* -------------------------------------------------- */

main {
    background-color: rgba(209, 80, 80, 0);
}

#section1 {
    background-color: #dbc927;
    margin-top: 1.4rem;
    height: 68vh;
    display: flex;
    gap: 3.8rem;
}

.div_img img {
    object-fit: cover;
    height: 10rem;
    margin: 0.5rem;
}